ReadingSpeed/bin/Debug/net8.0/ReadingSpeed.dll
ReadingSpeed/bin/Debug/net8.0/ReadingSpeed.pdb
ReadingSpeed/obj/Debug/net8.0/apphost.exe
ReadingSpeed/obj/Debug/net8.0/ReadingSpeed.AssemblyInfoInputs.cache
ReadingSpeed/obj/Debug/net8.0/ReadingSpeed.dll
ReadingSpeed/obj/Debug/net8.0/ReadingSpeed.pdb
ReadingSpeed/obj/Debug/net8.0/ReadingSpeed.sourcelink.json
ReadingSpeed/obj/Debug/net8.0/ref/ReadingSpeed.dll
ReadingSpeed/obj/Debug/net8.0/refint/ReadingSpeed.dll
ReadingSpeed/bin/Debug/net8.0/ReadingSpeed.exe
ReadingSpeed/obj/Debug/net8.0/ReadingSpeed.AssemblyInfo.cs
